/**
 * Adjust box sizing on site.
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Adjust font size for easier px to rem conversion.
 */
html {
    font-size: 62.5%;
}

/**
 * Side wide custom properties.
 */
:root {
    --base-width-max-width: 120rem;
    --base-width-side-margin: 2rem;

    /* colors */
    --color-black: #000;
    --color-white: hsla(0, 0%, 100%, var(--font-opacity));
    --color-primary-moderate-violet: hsla(263, 55%, 52%, var(--font-opacity));
    --color-primary-very-dark-grayish-blue: hsla(217, 19%, 35%, var(--font-opacity));
    --color-primary-very-dark-blackish-blue: hsla(219, 29%, 14%, var(--font-opacity));
    --color-neutral-light-gray: hsla(0, 0%, 81%, var(--font-opacity));
    --color-neutral-light-grayish-blue: hsla(210, 46%, 95%, var(--font-opacity));

    /* font-sizes */
    --font-size-90: 1.4rem;
    --font-size-100: 1.8rem;
    --font-size-110: 2.2rem;

    /* settings */
    --font-opacity: 1;
}

/**
 * Remove annoying empty space below inline-block elements.
 */
img,
[style*='inline-block' i],
svg,
canvas,
picture {
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

body {
    font: 1.6rem/1.6 sans-serif;
}

/**
 * Sticky footer.
 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > header,
body > footer {
    flex: 0 0 auto;
}

body > main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

/**
 * Add base width to handle horizontal alignment.
 */
.base-width {
    width: calc(100% - (2 * 2rem));
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
}

/**
 * Testimonial grid layout.
 */

.layout-testimonials {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 2.4rem 3rem;
}

.layout-testimonials__item--h-span-2  {
    grid-column: span 2;
}

.layout-testimonials__item--v-span-2 {
    grid-row: span 2;
}
